<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Simple Messaging</title>

  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>

<%=render 'layouts/navigation' %>

<div class="container">

  <%- if notice -%>
    <div class="alert alert-success">
      <%= notice %>
    </div>
  <%- end -%>

  <%- if alert -%>
      <div class="alert alert-danger">
        <%= alert %>
      </div>
  <%- end -%>


  <%= yield %>
</div>



</body>
</html>


